<mat-grid-list cols=1 rowHeight="50px">
    <mat-grid-tile>
        <button mat-raised-button (click)="randomDrink()">Give a Drink</button>
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list *ngIf="drinkModel != null" cols=1 rowHeight="500px">
    
    <mat-grid-tile>
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{drinkModel.strDrink}}</mat-card-title>
                <mat-card-subtitle>Alcolic</mat-card-subtitle>
            </mat-card-header>
            
            <img mat-card-image src="{{drinkModel.strDrinkThumb}}" width="100px"
                height="200px">
            <mat-card-content  style="width: 200px; overflow: scroll; height: 100px;">
                <mat-list>
                    <mat-list-item *ngFor="let ig of Ingredients">
                        <div mat-line> - {{ig}}</div>   
                    </mat-list-item>

                    
                </mat-list>
                <!-- <mat-icon>brightness_1</mat-icon>1 lemon
                <p>2 slices of orange</p>
                <p>1/2 tequila</p> -->

            </mat-card-content>

            <mat-card-actions>
                <mat-grid-list cols=3>
                    <mat-grid-tile>
                        <span>
                            <button mat-icon-button>
                                <mat-icon>checked</mat-icon>
                            </button>
                        </span>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <span>
                        </span>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <span>
                            <button mat-icon-button>
                                <mat-icon>close</mat-icon>
                            </button>
                        </span>
                    </mat-grid-tile>

                </mat-grid-list>


            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>