<mat-toolbar appColorNavButton>
    <span>My Application</span>
    <button id="Drink" class="navButon"  mat-button routerLink="Drink/Random">Drink</button>
    <button id="Ingredients" class="navButon"  mat-button [matMenuTriggerFor]="IngredientsMenu">Ingredients</button>
    <mat-menu #IngredientsMenu="matMenu">
        <button mat-menu-item routerLink="Ingredients/Search">Search</button>
        <button mat-menu-item routerLink="Ingredients/Details/10">detail</button>

    </mat-menu>

</mat-toolbar>